# language: zh-CN
功能: {{name}}
  {% for scenario in scenarios %} 
  场景: {{scenario.name}} {% for given_step in scenario.given_steps %} {% if loop.first %}
      假如 {{ given_step }} {% else %} 
      而且 {{ given_step }} {% endif %} {% endfor %}
      当 {{scenario.when_steps[0]}} {% for then in scenario.then_steps %} {% if loop.first %}
      那么 {{then}} {% else %}
      而且 {{then}} {% endif %} {% endfor %}
  {% endfor %} 
  